.nav-container{

    z-index: 1;
    
    display: flex;

    flex-direction: row;

    align-items: start;

    width: 100%;
    
    height: 84px;

    justify-content: center;

    background: #012A4A;

    border-bottom: 1px solid hsl(0, 0%, 22%);

    font-family: 'Poppins', sans-serif;

    margin-bottom: 15px;

}