.conteiner{
    
    justify-content: center;
    align-items: center;
    width: 100%;
   border: solid red;
    display: flex;
    min-height: 60vh;


}
.cont{
    border: solid green;
    width: 70%;
    display: flex;
    justify-content: space-between;
 
}
.items{
    border: solid fuchsia;
    width: 65%;
}