/* body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #f0f2f3;

  min-height:100vh;

}

@tailwind base;
@tailwind components;
@tailwind utilities; */