/* dashboard.module.css */
.dashboardContainer {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    background-color: #fff;
  }
  
  .dashboardBackgroundBlue {
    background-color: #3b82f6; /* Estilo de fondo azul */
  }
  
  .dashboardBackgroundNeutral {
    background-color: #f3f4f6; /* Estilo de fondo gris claro */
  }
  
  .dashboardBackgroundStone {
    background-color: #374151; /* Estilo de fondo gris oscuro */
  }
  
  .dashboardTitle {
    font-size: 24px;
    color: #333;
  }
  