.paginationContainer{
    /* background-color: aqua; */
    display: flex;
    justify-content: right;
    align-items: center;
    /* margin-top: -30px; 
    margin-bottom: 50px;   
    margin-right: 14em; */
    gap: 15px; 
    font-size: large;
    /* width: 100%;  */
    /* clear: both;  Añade esta propiedad para evitar que otros elementos floten alrededor del componente */
  } 
  
  /* Añade estilos a los botones y al input según sea necesario */
#buttonP{
    /* Estilos para los botones de paginación */
    padding: 5px 10px;
    margin: 0 5px;
    background-color: rgb(0, 131, 253);
    color: white;
    cursor: pointer;
    border: 0px;
    border-radius: 8px;
  }
  
#inputPagination{
    /* Estilos para el input de paginación */
    width: 20px; /* Ajusta el ancho según tus preferencias */
    text-align: center;
    background-color: transparent;
    border: none;
    font-size: large;
  } 