.bodyConteiner{
    display: flex;
    font-size: 1.2rem;
    justify-content: center;
    font-family: 'DM Sans', sans-serif;
}
h1{
    color: rgb(7, 56, 97);
    text-align: center;
    font-weight: 500;

}
input{
    border: 1px solid rgb(216, 215, 215);
    outline: none;
}
input:focus{
    /* border: 1px solid rgb(216, 215, 215); */
}
textarea:focus{
    outline: none;
}
.formConteiner{
    border: 2px solid rgb(216, 215, 215);
    border-radius: 20px;
    width: 90%;
    display: flex;
    justify-content: center;
    margin: 50px;
   
}
form{
    width: 90%;
    
}
textarea{
    resize: none;
    /* border: 1px solid rgb(216, 215, 215); */
    border: none;
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    border-radius: 10px;
    width: 100%;
    padding-top: 5px;
    text-indent: 10px;
}

textarea::placeholder{
    font-family: 'DM Sans', sans-serif;
    text-indent: 10px;
}
.title{
    width: 100%;
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
}
.nameAndPrice{
    border-radius: 10px;
    width: 99%;
    padding: 10px;
}
.selectsConteiner{
    
    display: flex;
}
.state{

    width: 50%;
 
}
select{
    width: 125px;
    border-radius: 4px;
    border: none;
    color: rgb(7, 56, 97);
    font-size: 1.3rem;
    border-bottom: solid rgb(7, 56, 97) 1px;
    margin-right: 1rem;
    
}

.provSelect{
    width: 180px;
    text-align: center;
}
option{
    background-color: rgb(7, 56, 97, 0.8);
    color: white; 
}
.monto{
    display: flex;
    color: black;
}
.peso{
    margin-right: 10px;
}
.ars{
    position: absolute;
    margin-left: 75%;
    color: black;
}
.sendCont{
    width: 100%;
    display: flex;
    justify-content: center;
    /* margin-top: 50px; */
    margin-bottom: 50px;
}

.send{
    border: none;
    margin-top: 40px;
    height: 40px;
    width: 240px;
    font-family: 'DM Sans', sans-serif;
    color: rgba(219, 220, 221, 1);
    border-radius: 10px;
    background-color: rgb(7, 56, 97);
    font-weight: 600;
    transition: all 0.15s;
}
.send:hover{
    background-color: rgb(7, 56, 97);
    color: rgba(219, 220, 221, 1);
    cursor: pointer;
}

.send:disabled{
    background-color: #cccccc;
    color: #999999;
    cursor: not-allowed;
}

.send:active{
    transform: scale(0.95);
}

.send:disabled{
    cursor: default;
    color: rgb(121, 121, 121);
    background-color: #e6e6e6;
}

.send:disabled:hover{
    color: rgb(150, 150, 150);
    cursor: default;
}


span{
    color: red;
    display: block;
    font-size: small;
}
.spanAmount{
    margin-left: 2%;
 
}

.campaignImg{
    max-height: 100px;
    max-width: 100px;
    margin-top: 1rem;
    border-radius: 8%;
}

h3{
    font-weight: 300;
}