.bodyConteiner{
    display: flex;
    font-size: 1.2rem;
    align-items: center;
    justify-content: center;
   
}
.formConteiner{
    border: solid red;
    width: 90%;
    display: flex;
    justify-content: center;
}
form{
    width: 90%;
    
}
textarea{
   resize: none;
   border-radius: 10px;
    
}
.title{
    border: solid green 1px;
    width: 100%;
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px
}
.nameAndPrice{
    border-radius: 10px;
    width: 100%;
    padding: 10px;
}
