.bodyConteiner{
    display: flex;
    font-size: 1.2rem;
    justify-content: center;
}
h1{
    color: #3A86FF;
}
input{
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.3);
    border: none;
    outline: none;
}
input:focus{
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.4);
}
textarea:focus{
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.6);
    outline: none;
}
.formConteiner{
    border: solid red;
    border: 15px;
    width: 90%;
    display: flex;
    justify-content: center;
    box-shadow: 0px 15px 15px 15px rgba(0, 0, 0, 0.5);
   margin: 50px;
   
}
form{
    width: 90%;
    
}
textarea{
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.3);
   resize: none;
   border: none;
   border-radius: 10px;
   width: 100%;
    
}
.title{
    /* border: solid green 1px; */
    width: 100%;
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px
}
.nameAndPrice{
    border-radius: 10px;
    width: 99%;
    padding: 10px;
}
.selectsConteiner{
    
    display: flex;
}
.state{

    width: 50%;
 
}
select{
    width: 200px;

    border: none;
    color: #3A86FF;
    font-size: 1.3rem;
    border-bottom: solid #3A86FF .3px;
    
}
option{
    background-color: #81b2d7;
    color: white;
    
}
.monto{
    display: flex;
    color: black;
}
.peso{
    margin-right: 10px;
}
.ars{
position: absolute;
margin-left: 75%;
color: red;
color: black;

}
.sendCont{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.send{
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    background-color: #3A86FF;
    color: #ffff;
    border: none;
    transition: all ease .3s;
    font-size: 1.1rem;
}
.send:hover{
    background-color: #0963f5;
    cursor: pointer;
}

