.filterBarContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
    gap: 2em;
}

.filters{
    background-color: #ccc;
    color: rgba(0, 0, 0, 0.945);
    width: max-content;
    height: 30px;
    font-size: 16px;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    outline: none;
}

.filters:hover{
    background-color:#007bff;
    color: white;
}

.casillero{
    font-size: 16px;
    background-color:  white;
    color: rgba(1, 42, 74, 0.815);
}

.opciones{
    font-size: 14px;
    background-color: rgb(255, 255, 255);
    color: rgba(1, 42, 74, 0.815);
}

.boton{
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #ccc;
}

.boton:hover{
    background-color:#007bffd8;
    color: white;
    
}

.reset{
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #ccc;
}

.reset:hover{
    background-color:#23c245b7;
    color: white;
    
}

.conteinerError{
    justify-content: center;
    text-align: center;
}

.noCoincidenciasMsg{
    padding: 60px;
    color: #007bff;
    font-size: 28px;
    height: 40vh;
}
