@keyframes changeColor {
    0% {
        background-color: rgb(206, 52, 52);
    }
    33% {
        background-color: rgb(82, 147, 77);
    }
    66% {
        background-color: rgb(226, 175, 34);
    }
    100% {
        background-color: rgb(3, 117, 188);
    }
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.modal {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    background: #fff;
    align-items: center;
    justify-content: center;
    /* width: 45%;
    height: 50%; */
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.formsSection{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.login {
    padding: 2.5rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    margin-left: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid rgb(216, 215, 215);
}

.register {
    padding: 2.5rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    margin-right: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.closeBtn{
    border: none;
    background: transparent;
    position: absolute;
    transform: translate(-2rem, 1rem);
}

.closeContainer{
    align-self: end;
}

a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
}

.forgotPass{
    color: rgba(60, 110, 169, 1);
    margin-bottom: 6rem;
    /* padding: 1rem; */
}

.forgotPassContainer{
    margin-bottom: 3rem;

}

.google {
    margin-top: 28px;
    margin-bottom: 20px;
    border: none;
    background-color: rgb(206, 52, 52);
    min-height: 40px;
    min-width: 240px;
    border-radius: 10px;
    font-family: 'DM Sans', sans-serif;
    transition: all 0.1s;
    font-weight: 600;
}

.closeBtn:hover {
    cursor: pointer;
}

.textoLI {
    font-size: 1.5em;
    color: rgba(1, 42, 74, 1);
}
.textoREG {
    font-size: 1.5em;
    justify-self: center;
    color: rgba(1, 42, 74, 1);
}

.logInForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formContainer {
    display: flex;
    justify-content: center;
}

.logInInput {
    font-family: 'DM Sans', sans-serif;
    font-size: 17px;
    font-weight: 400;
    border: 1px solid rgba(219, 220, 221, 1);
    box-shadow: none;
    border-radius: 3px;
    margin-bottom: 1.5rem;
    height: 40px;
    width: 300px;
    text-indent: 12px;
    transition: all 0.5s;
    color: rgb(36, 36, 36);
}

.logInInput:focus{
    transition: all 0.2s;
    box-shadow: none;
    border: 1px solid rgba(1, 42, 74, 0.6);
}
.logInInput:focus::placeholder{
    transition: all 0.1s;
    opacity: 0;
}

.logInInput::placeholder{
    font-family: 'DM Sans', sans-serif;
    text-indent: 15px;
    transition: all 0.1s;
    font-weight: 400;
}

.submitBtn {
    border: none;
    margin-top: 20px;
    height: 40px;
    width: 240px;
    font-family: 'DM Sans', sans-serif;  
    transition: all 0.15s;
    font-weight: 600;
}

.submitBtn {
    border: none;
    margin-top: 40px;
    height: 40px;
    width: 240px;
    font-family: 'DM Sans', sans-serif;
    color: rgba(219, 220, 221, 1);
    border-radius: 10px;
    background-color: rgb(4, 57, 97);
    font-weight: 600;
    transition: all 0.15s;
}

.submitBtn:hover{
    background-color: rgb(4, 57, 97);
    color: rgba(219, 220, 221, 1);
    cursor: pointer;
}
.submitBtn:hover{
    background-color: rgba(1, 42, 74, 1);
    color: rgba(219, 220, 221, 1);
    cursor: pointer;
}
.google:hover{
    /* background-color: rgb(206, 52, 52); */
    animation: changeColor 1s ease-in;
    background-color: rgb(3, 117, 188);
    color: rgba(219, 220, 221, 1);
    cursor: pointer;
}

.google:active{
    transform: scale(0.95);
}
.submitBtn:active{
    transform: scale(0.95);
}
.submitBtn:active{
    transform: scale(0.95);
}

.submitBtn:disabled{
    cursor: default;
    color: rgb(121, 121, 121);
    background-color: #e6e6e6;
}

.submitBtn:disabled:hover{
    color: rgb(150, 150, 150);
    cursor: default;
}

.errorMsgLI {
    width: 280px;
    position: absolute;
    transform: translate(-0.5rem, 3rem);
}

.wrongPass {
    width: 280px;
    position: absolute;
    transform: translate(-0.5rem, 3rem);
}
.errorMsg {
    width: 280px;
    position: absolute;
    transform: translate(-9rem, 3rem);
}

.errorMsgPassR{
    width: 280px;
    position: absolute;
    transform: translateY(11.5rem);
}