.cardsContainer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* flex-wrap: wrap; */
    justify-content: space-between;
    /* gap: 1em; */
    margin-left: 12vw;
    margin-right: 10vw;
    margin-top: 3vw;
}


.carlos {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
  }
  
.visible {
    opacity: 1;
    transform: translateY(0);
  }